[build]
  publish = "build/web"
  command = "chmod +x build.sh && ./build.sh"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[dev]
  framework = "#static"
  target_port = 8888